{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sanos y Salvos - Reportar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Reportar Mascota</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Nombre de la mascota:</label>
        <input type="text" name="nombre" placeholder="Ej: Toby" required>
        
        <label>Tipo de animal:</label>
        <select name="tipo">
            <option value="PERRO">Perro</option>
            <option value="GATO">Gato</option>
            <option value="OTRO">Otro</option>
        </select>

        <label>Estado:</label>
        <select name="estado">
            <option value="PERDIDO">Perdido</option>
            <option value="ENCONTRADO">Encontrado</option>
        </select>

        <label>Raza:</label>
        <input type="text" name="raza" required>

        <label>Ubicación:</label>
        <input type="text" name="ubicacion" placeholder="Ej: Santiago" required>

        <label>Foto:</label>
        <input type="file" name="foto">

        <label>Contacto:</label>
        <textarea name="datos_contacto" rows="3" required></textarea>

        <button type="submit" class="btn" style="width: 100%;">Enviar Reporte</button>
    </form>
    
    <p style="text-align: center; margin-top: 20px;">
        <a href="{% url 'lista_mascota' %}">⬅ Volver a la lista</a>
    </p>
</body>
</html>